/* Estilos por defecto (modo claro) */
body {
    background-color: white;
    color: black;
}

/* Estilos para el modo oscuro */
body.dark-mode {
    background-color: black;
    color: white;
}

/* Asegúrate de que todos los elementos también tengan el fondo adecuado */
body.dark-mode div p,
body.dark-mode header,
body.dark-mode footer,
body.dark-mode section {
    background-color: #222; /* O el color de fondo que prefieras para el modo oscuro */
    color: white;
}

/* Si usas algún color de fondo específico en otros elementos, aplícalo aquí también */
body.dark-mode .specific-class {
    background-color: #333; /* O el color específico para esa clase */
    color: white;
}

/* Botón para activiad modo oscuro */
.switch {
    font-size: 12px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background: #FE7BB2;
    border-radius: 50px;
    transition: all 0.4s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    left: 0.3em;
    bottom: 0.3em;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0 0px 20px rgba(0,0,0,0.4);
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .switch input:checked + .slider {
    background: #E91F64;
  }
  
  .switch input:focus + .slider {
    box-shadow: 0 0 1px #55021a;
  }
  
  .switch input:checked + .slider:before {
    transform: translateX(1.6em);
    width: 2em;
    height: 2em;
    bottom: 0;
  }